.order-page{

  .ReactTable {
  margin-bottom: 10px;
  .rt-th, .rt-td {
    padding: 0;
    input {
      border-radius: 0;
      background-color: transparent;
      color: black;
    }
  }
}

  .output-link {
    margin-top: 15px;
  }
}