
#setup {
  .input-section {
    margin-bottom: 20px;
    color: pink;
  }
  .columns-editor {
    display: flex;
    .columns-list {
      width: 180px;
      padding-right: 20px;
      .column-item {
        cursor: pointer;
        margin-bottom: 10px;
        &.selected {
          background-color: pink;
        }
      }
    }
    .column-props {
      flex-grow: 2;
      .col-option {
        display: flex;
        input {
          width: 50%;
        }
      }
    }
  }
  .buttons {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
  }
}