.output {
  .output-body {
    display: flex;
    margin-top: 10px;

    .text-output {
      width: 400px;
      height: 400px;
      margin-right: 50px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.2rem;
    }

    .copy-clipboard, .send-slack {
      height: 50px;
      width: 200px;
      margin: 0 20px;
    }
  }


}