
.nation-selection {
}

.title {

    color: #2c8032;
}
.nations-list {
    display: flex;
    margin: 20px 0;
    height: 300px;
     flex-wrap: wrap;

}
.nations-list .nation-button {
    color: green;
    display: flex;
    border: 2px solid black;
    margin: 10px 5px;
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    min-width: 300px;
}

