
.nation-selection {
}

.title {

    color: darkorange;
}
.nations-list {
    display: flex;
    margin: 20px 0;
    height: 300px;
     flex-wrap: wrap;

}
.nations-list .nation-button {
    position: relative;
    color: yellow;
    display: flex;
    border: 2px solid black;
    margin: 10px 5px;
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    min-width: 300px;
    padding: 0;

}

.nations-list .nation-button .nation-order-link {
    color: white;
    width:300px;
    height:100px;
        display: flex;
    align-items: center;
    justify-content: center;
}

.nations-list .nation-button .edit-nation-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1.3rem;
        color: white;
    }
.nations-list .nation-button .trash-nation-icon {
    position: absolute;
    bottom: 5px;
    right: 5px ;
    font-size: 1.3rem;
    color: red;
    border: black;
}