
.nation-selection .title {
    color: red;
}

.nation-selection .nations-list {
    display: flex;
    margin: 20px 0;
    border: 1px solid black;
    height: 400px;
     flex-wrap: wrap;

}

.nation-selection .nations-list .nation-button {
    color: red;
    display: flex;
    border: 7px solid deeppink;
    margin: 10px 5px;
    height: 60px;
    width: 200px;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    min-width: 200px;


}
